extends base
- var current_title = page.title || tag.name || category.name || site.title

block title
  title= current_title
block content
  if is_category() || is_tag()
      h1.label-title=  __('reading_label', current_title)

  for post in page.posts.toArray()
    .post
      h2.post-title
        include _partial/helpers
        a(href=url_for(post.path))
          +title(post)
      .post-meta= post.date.format('MMMM DD, YYYY')
      .post-content
        != post.excerpt
      if post.tags
        .tags
          for tag in post.tags.toArray()
              a(href=url_for(tag.path))= tag.name
  include _partial/paginator
