extends base

block title
  title= page.title + " | " + config.title

block content
  .post.post-page
    h1.post-title= page.title
    .post-meta= page.date.format('MMMM DD, YYYY')
    .post-content
      != page.content
    if page.tags
      .tags
        for tag in page.tags.toArray()
          a(href=url_for(tag.path))= tag.name

    include _partial/comments
    include _partial/paginator
