mixin a_with_current(href, content, id)
  - var url = url_for(href)
  if (href == '/' && (is_home() || is_post())) || is_current(href)
    a.current(id=id, href=url)= content
  else
    a(id=id, href=url)= content

mixin title(page)
  if page
    if page.title
      = page.title
    else
      = _p('no-title')
