script(type='text/x-mathjax-config').
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });

script(type='text/javascript', src='//lib.baomitu.com/mathjax/2.7.5/config/TeX-MML-AM_CHTML.js', async)
