a#rocket.show(href='#top')

script(type='text/javascript', src=url_for(theme.js) + '/jquery.min.js' + '?v=' + theme.version)
script(type='text/javascript', src=url_for(theme.js) + '/totop.js' + '?v=' + theme.version)


